[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
langchain = "*"
langgraph = "*"
langsmith = "*"
langserve = "*"
langchain-openai = "*"
langchain-anthropic = "*"
pillow = "*"
graphviz = "*"
pyppeteer = "*"
pyproject = "*"
grandalf = "*"
icecream = "*"
tavily-python = "*"
fastapi = "*"

[dev-packages]

[requires]
python_version = "3.12"
